[Desktop Entry]
Encoding=UTF-8
Name=PropCoin
Comment=PropCoin P2P Cryptocurrency
Comment[fr]=PropCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PropCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/propcoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/propcoin128.png
MimeType=x-scheme-handler/propcoin;
Categories=Office;
