<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>propcoin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>propcoin</string>
			</array>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
        <string>1.5.1</string>
	<key>CFBundleVersion</key>
        <string>1.5.1</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>PropCoin.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHumanReadableCopyright</key>
	<string>© PropCoin</string>
	<key>CFBundleSignature</key>
	<string>DOGE</string>
	<key>CFBundleExecutable</key>
	<string>PropCoin-Qt</string>
	<key>CFBundleIdentifier</key>
	<string>com.propcoin.wallet-qt</string>
	<key>CFBundleName</key>
	<string>PropCoin-Qt</string>
</dict>
</plist>
